html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
.body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #212121;
  position: relative;
  width: 1200px;
  background: #ffffff;
  margin: 0;
}
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.container {
  width: 1230px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.link {
  text-decoration: none;
}
/*header*/
.header {

}
.header-container {
  background: #FFFFFF;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-container-2{
  display: flex;
  align-items: center;
}
.header-item{
display: flex;
}
.header-items:not(:last-child){
}
.header-logo-blue {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  
}
.header-logo-black {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
}
.header-index-logo{
  margin-right: 93px;
}
.header-portfolio-list{
  display: flex;
  margin-right:50px;
}
.header-portfolio-logo{
  margin-right: 93px;
}
.header-title-studio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  margin-right:50px;
}
.header-title-studio:hover,
.header-title-studio:focus {
  color: #2196f3;
}
.header-title-index-studio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-right:50px;
}
.header-title-index-studio:hover,
.header-title-index-studio:focus {
  color: #212121;
}
.header-title-portfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-right:50px;
}
.header-title-portfolio:hover,
.header-title-portfolio:focus {
  color: #212121;
}
.header-title-index-portfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  margin-right: 50px;
}
.header-title-index-portfolio:hover,
.header-title-index-portfolio:focus {
  color: #2196f3;}
.header-info {
  display: flex;
  margin-left: auto;
  }
  .header-info-mail {
  }
  .header-title-contacts {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
  }
.header-title-contacts:hover,.header-title-contacts:focus {
  color: #2196f3;}
.header-info-adres {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-right: 50px;
}
.header-info-adres:hover,.header-info-adres:focus {
  color: #757575;}
.header-info-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-info-tel:hover,.header-info-tel:focus {
  color: #2196f3;}
/*hero*/
/*hero main section 1*/
.hero-main {
height: 600px;
background: #2F303A;
}
.hero-main-title {

font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
margin-left: 252px;
margin-right: 252px;
padding-top: 200px;
padding-bottom: 30px;


}
.hero-main-button {
/*width: 136px;
left: 732px;
top: 440px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
 margin: auto;
 text-align: center;
width: 200px;
left: 700px;
top: 430px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
margin-left: 532px;
margin-right: 532px;*/
display: inline-block;
border-radius: 4px;
padding: 10px 32px;
font-weight: bold;
font-size: 16px;
line-height: 30px;
text-decoration: none;
color: #FFFFFF;
background-color: #2196F3;
min-width: 200px;
margin-left: 532px;
margin-right: 532px;
text-align: center;
 border: 1px solid transparent;

}
.hero-main-button:hover, .hero-main-button:focus{
  background: #188CE8;
  
}
/*hero main section 2*/
.hero-list{
  padding-top: 94px;
  padding-bottom: 94px;
  display: flex;
}
.hero-list-item{
margin-right: 30px;
}
.hero-item-1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.hero-text-1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.hero-item-2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.hero-text-2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.hero-item-3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.hero-text-3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.hero-item-4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.hero-text-4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
/*hero section 3*/
.hero {
  padding-bottom: 94px;
}
.hero-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-left: 412px;
}
.hero-additional-pcs{
  display: flex;
}
.hero-pcs-1 {
width: 370px;
background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
mix-blend-mode: normal;
margin-right: 30px;
margin-left: 15px;
}
.hero-pcs-2 {
  background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
  width: 370px;
  margin-right: 30px;
}
.hero-pcs-3 {
  background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
  width: 370px;
}
/*hero section 4*/
.hero-team {
width: 1200px;
height: px;
left: 0px;
top: 1449px;

background: #F5F4FA;
}
.hero-team-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
  margin-left: 468px;
  margin-right: 468px;
  padding-bottom: 50px;
  padding-top: 94px;
  text-align: center;
  margin: auto;
}
.hero-team-photo{
  display: flex;
  justify-content: flex-end;
  
}
.hero-team-block:not(:last-child) {
  margin-right: 30px;
}

.hero-team-pcs1 {
  background: url(4853.jpg);
  border-radius: 0px;
  width: 270px;
  height: px;
}
.hero-team-name1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}
.hero-team-profession1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.hero-team-pcs2 {
  background: url(5844.jpg);
  border-radius: 0px;
  width: 270px;
  height: px;
}
.hero-team-name2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.hero-team-profession2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
.hero-team-pcs3 {
  background: url(16166.jpg);
  border-radius: 0px;
  width: 270px;
  height: px;
}
.hero-team-name3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.hero-team-profession3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.hero-team-pcs4 {
  background: url(2968.jpg);
  border-radius: 0px;
  width: 270px;
  height: px;
}
.hero-team-name4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.hero-team-profession4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/*footer*/
.footer {
width: 1200px;
height: px;
left: 0px;
top: 1628px;
background: #2F303A;
}
.footer-logo-blue {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.footer-logo-white {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-adres {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-bottom: 9px;
}
}
.footer-mail {
width: 231px;
height: 21px;
left: 215px;
top: 1769px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

/*portfolio*/
/*hero portfolio*/
.button-list {
display: flex;
justify-content: center;
padding-top: 94px;
padding-bottom: 50px;
padding-right: 8px;
}
.hero-button-1 {
/*font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;

letter-spacing: 0.03em;
color: #ffffff;
background: #2196f3;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;*/
border-radius: 4px;
padding: 6px 22px;
font-weight: bold;
font-size: 16px;
line-height: 30px;
text-decoration: none;
color: #FFFFFF;
background-color: #2196F3;
min-width: 73px;
text-align: center;
 border: 1px solid transparent;
 display: inline block;
}
.hero-button-2 {
/*font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.03em;
color: #212121;
background: #f5f4fa;
border-radius: 4px;*/
display: inline block;
border-radius: 4px;
padding: 6px 22px;
font-weight: bold;
font-size: 16px;
line-height: 30px;
text-decoration: none;
color: #212121;
background-color: #F5F4FA;
min-width: 82px;
text-align: center;
 border: 1px solid transparent;
}
.hero-button-2:hover, .hero-button-2:focus{
  background: #2196f3;
}

.hero-portfolio-list {
  display: flex;
 flex-wrap: wrap;
 padding-bottom: 94px;
}

img{
  width: 100%;
}
.hero-portfolio-pcs{
width:calc((100% - 30px) / 3);

}
.btn{
  margin-right: 8px;
}
.hero-portfolio-pcs1 {
background: url(portfolio1.jpg);
width: 370px;
height: px;
}
.hero-portfolio-title1 {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}
.hero-portfolio-text1 {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}
.hero-portfolio-pcs2 {
background: url(portfolio2.jpg);
width: 370px;
height: px;
}
.hero-portfolio-title2 {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}
.hero-portfolio-text2 {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}
.hero-portfolio-pcs3 {
background: url(portfolio-1.jpg);
width: 370px;
height:px;
}
.hero-portfolio-title3 {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}
.hero-portfolio-text3 {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}
.hero-portfolio-pcs4 {
background: url(portfolio-2.jpg);
width: 370px;
height: px;
}
.hero-portfolio-title4 {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}
.hero-portfolio-text4 {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}
.hero-portfolio-pcs5 {
background: url(portfolio5.jpg);
width: 370px;
height: px;
}
.hero-portfolio-title5 {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}
.hero-portfolio-text5 {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}
.hero-portfolio-pcs6 {
background: url(111.jpg);
width: 370px;
height: px;
}
.hero-portfolio-title6 {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}
.hero-portfolio-text6 {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}
.hero-portfolio-pcs7 {
background: url(portfolio7.jpg);
width: 370px;
height: px;
}
.hero-portfolio-title7 {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line- : 36px;
letter-spacing: 0.06em;
color: #212121;
}
.hero-portfolio-text7 {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}
.hero-portfolio-pcs8 {
background: url(portfolio8.jpg);
width: 370px;
height: px;
}
.hero-portfolio-title8 {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}
.hero-portfolio-text8 {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}
.hero-portfolio-pcs9 {
background: url(2910404.jpg);
width: 370px;
height: 294px;
}
.hero-portfolio-title9 {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;
}
.hero-portfolio-text9 {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}
/*footer*/
.footer {
background: #2f303a;
padding-top: 60px;
padding-bottom: 60px;
}
.footer-portfolio {
background: #2f303a;
padding: top 60px;
padding-bottom: 60px;
}
.footer-logo {
  padding-bottom:20px;
}
.footer-index-list{
  padding-bottom: 9px;
  margin-left: -35px;
  
}
.footer-portfolio-list{
  margin-left: -35px;
}
