.body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #212121;
  position: relative;
  width: 1600px;
  height: 2349px;

background: #FFFFFF;
}
.list{
  list-style: none;
}
.link{
  text-decoration: none;
}
/*header*/
.header {
  background: #ffffff;
}
.header-logo-blue {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.header-logo-black {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
}
.header-title-studio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3; 
}
.header-title-portfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-title-contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-info-adres {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #2196F3;
}
.header-info-tel {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
}
/*hero*/
/*hero main section 1*/
.hero-main {
background: #2F303A;
}
.hero-main-title {
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
 
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.hero-main-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
   
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*hero main section 2*/

.hero-item-1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.hero-text-1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.hero-item-2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.hero-text-2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.hero-item-3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.hero-text-3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.hero-item-4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.hero-text-4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
/*hero section 3*/
.hero-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  letter-spacing: 0.03em;
  color: #212121;
}
.hero-pcs-1 {
  background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
  mix-blend-mode: normal;
}
.hero-pcs-2 {
  background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
}
.hero-pcs-3 {
  background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
}
/*hero section 4*/
.hero-team {
background: #F5F4FA;
}
.hero-team-item{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 42px;
 
letter-spacing: 0.03em;

color: #212121;
}

.hero-team-pcs1 {
background: url(4853.jpg);
border-radius: 0px;
}
.hero-team-name1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
   
  letter-spacing: 0.03em;
  color: #212121;
}
.hero-team-profession1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
   
  letter-spacing: 0.03em;
  color: #757575;
}
.hero-team-pcs2 {
  background: url(5844.jpg);
  border-radius: 0px;
}
.hero-team-name2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
   
  letter-spacing: 0.03em;
  color: #212121;
}
.hero-team-profession2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
   
  letter-spacing: 0.03em;

  color: #757575;
}
.hero-team-pcs3 {
  background: url(16166.jpg);
  border-radius: 0px;
}
.hero-team-name3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
   
  letter-spacing: 0.03em;
  color: #212121;
}
.hero-team-profession3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
   
  letter-spacing: 0.03em;
  color: #757575;
}
.hero-team-pcs4 {
  background: url(2968.jpg);
  border-radius: 0px;
}
.hero-team-name4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
   
  letter-spacing: 0.03em;
  color: #212121;
}
.hero-team-profession4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
   
  letter-spacing: 0.03em;
  color: #757575;
}
/*footer*/
.footer {
  background-color: #2f303a;
}
.footer-logo-blue {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.footer-logo-white {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-adres {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;
}

}
.footer-mail {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

/*portfolio*/
/*hero portfolio*/
.hero-button-1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
   
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.hero-button-2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
   
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
}
.hero-button-3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
   
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
}
.hero-button-4 {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
 
letter-spacing: 0.03em;
color: #212121;
background: #F5F4FA;
border-radius: 4px;
}
.hero-button-5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
   
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
}
.hero-portfolio-pcs1 {
  background: url(portfolio1.jpg);
}
.hero-portfolio-title1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.hero-portfolio-text1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
.hero-portfolio-pcs2 {
  background: url(portfolio2.jpg);
}
.hero-portfolio-title2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.hero-portfolio-text2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
.hero-portfolio-pcs3 {
  background: url(portfolio-1.jpg);
}
.hero-portfolio-title3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.hero-portfolio-text3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
.hero-portfolio-pcs4 {
  background: url(portfolio-2.jpg);
}
.hero-portfolio-title4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.hero-portfolio-text4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
.hero-portfolio-pcs5 {
  background: url(portfolio5.jpg);
}
.hero-portfolio-title5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.hero-portfolio-text5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
.hero-portfolio-pcs6 {
  background: url(111.jpg);
}
.hero-portfolio-title6 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.hero-portfolio-text6 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
.hero-portfolio-pcs7 {
  background: url(portfolio7.jpg);
}
.hero-portfolio-title7 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.hero-portfolio-text7 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
.hero-portfolio-pcs8 {
  background: url(portfolio8.jpg);
}
.hero-portfolio-title8 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.hero-portfolio-text8 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
.hero-portfolio-pcs9 {
  background: url(2910404.jpg);
}
.hero-portfolio-title9 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}
.hero-portfolio-text9 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
/*footer*/
.footer {
  background: #2f303a;
}
.footer-portfolio{
background: #2F303A;
}
